 @import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Chango&display=swap');

 body {
     background-image: url(../images/background.jpg);
     background-size: cover;
     background-position: center
 }

 .content {
     margin-left: 20px;
     margin-right: 20px;
 }

 p {
     margin: 21px;
     font-family: "Cause", cursive;
     color: rgb(156, 207, 255);
     text-shadow: 1px 1px 2px #3047ad;
     font-size: 18px;
     font-weight: bold;
 }

 h1 {
     font-family: "Chango", sans-serif;
     text-shadow: 1px 1px 3px #B4E1EB;
     color: #002c65;
 }

 h2 {
     font-family: "Cause", cursive;
     font-optical-sizing: auto;
     font-weight: bold;
     text-shadow: 1px 1px 3px #B4E1EB;
     color: #002537;
 }

 .header {
     display: flex;
     justify-content: space-between;
     background-color: #95BDD7;
     align-items: center;
     margin-bottom: 20px;
 }

 .logo img {
     border-radius: 100%;
     margin-left: 15px;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 .sociallinks {
     display: flex;
     gap: 15px;
     margin-right: 10px;
 }

 .bio {
     text-align: center;
     margin-bottom: 50px;
 }


 .profile {
     border-radius: 100%;
     margin-top: 50px;
 }

 .exerciselist {
     gap: 15px;
     justify-content: center;
 }

 .week123,
 .week456 {
     display: flex;
     gap: 20px;
 }

 .week456 {
     margin-top: 20px;
 }

 .contentexercise {
     display: flex;
     align-items: center;
     gap: 10px;
     justify-content: center;

     h2 {
         margin: 0px
     }
 }

 .links {
     line-height: 30px;
 }

 .week {
     background-color: #f9e8a2b4;
     padding: 20px;
     text-align: center;
     border-radius: 20px;
     margin-bottom: 20px;
     width: 100%;
 }


 hr {
     color: black;
 }

 .footer {
     background-color: #95BDD7;
     margin-top: 20px;
     text-align: center;
     padding: 20px;

     p {
         margin: 5px;
         text-shadow: none;
         color: #4e83b1;
         font-size: 14px;
     }
 }

 .socialfooter {
     display: flex;
     gap: 15px;
     justify-content: center;
 }

 @media screen and (max-width: 580px) {
     .exerciselist {
         flex-direction: column;
     }

     .week {
         width: 92%;
     }
 }