@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.casestudies {
    display: flex;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;

    p {
        font-size: 18px;
        width: 50%;
        margin-top: 0px;
    }

    h2 {
        font-size: 40px;
        background-color: var(--primary);
        padding: 7px;
        border-radius: 7px;
    }
}

.casecontent {
    display: flex;
    background-color: var(--border);
    color: var(--secondary);
    padding: 60px 70px;
    gap: 64px;
    border-radius: 45px;
}

.learnmore {
    display: flex;
    gap: 10px;
    color: var(--primary);
    align-items: center;

    p {
        margin: 0px;
    }
}